[internal]
exten => 1001,1,NoOp(Appel vers 1001)
 same => n,Set(DEST_EXTENSION=1001)
 same => n,AGI(check_balance.py)
 same => n,GotoIf($["${BALANCE_OK}"="1"]?ok1001:nocredit,1)
 same => n(ok1001),Dial(PJSIP/1001,20,L(${MAX_DURATION_MS}))
 same => n,Hangup()

exten => 1002,1,NoOp(Appel vers 1002)
 same => n,Set(DEST_EXTENSION=1002)
 same => n,AGI(check_balance.py)
 same => n,GotoIf($["${BALANCE_OK}"="1"]?ok1002:nocredit,1)
 same => n(ok1002),Dial(PJSIP/1002,20,L(${MAX_DURATION_MS}))
 same => n,Hangup()

exten => 1003,1,NoOp(Appel vers 1003)
 same => n,Set(DEST_EXTENSION=1003)
 same => n,AGI(check_balance.py)
 same => n,GotoIf($["${BALANCE_OK}"="1"]?ok1003:nocredit,1)
 same => n(ok1003),Dial(PJSIP/1003,20,L(${MAX_DURATION_MS}))
 same => n,Hangup()

exten => nocredit,1,NoOp(Solde insuffisant pour ${CALLERID(num)})
 same => n,Answer()
 same => n,Playback(custom/no-credit)
 same => n,Hangup()

exten => 600,1,Answer()
 same => n,Echo()
 same => n,Hangup()

exten => 8000,1,Answer()
 same => n,ConfBridge(salle1,default_bridge,default_user)
 same => n,Hangup()

exten => h,1,AGI(deduct_balance.py)
; ================= IVR =================
exten => 9000,1,Answer()
 same => n,Set(LOOPCOUNT=0)
 same => n(menu),Read(IVR_CHOICE,custom/welcome-menu,1,,3,10)
 same => n,GotoIf($["${IVR_CHOICE}"="1"]?support)
 same => n,GotoIf($["${IVR_CHOICE}"="2"]?commercial)
 same => n,GotoIf($["${IVR_CHOICE}"="3"]?account)
 same => n,GotoIf($["${IVR_CHOICE}"="4"]?services)
 same => n,Set(LOOPCOUNT=$[${LOOPCOUNT}+1])
 same => n,GotoIf($[${LOOPCOUNT} < 3]?invalid:byebye)
 same => n(invalid),Playback(custom/invalid-option)
 same => n,Goto(menu)
 same => n(byebye),Hangup()

 same => n(support),Playback(custom/redirect-support)
 same => n,Goto(internal,1001,1)

 same => n(commercial),Playback(custom/redirect-commercial)
 same => n,Goto(internal,1003,1)

 same => n(services),Playback(custom/services-info)
 same => n,Goto(menu)

 same => n(account),Read(ACCOUNT_NUM,custom/ask-account,4,,3,10)
 same => n,GotoIf($["${ACCOUNT_NUM}"="1001"]?acc1001)
 same => n,GotoIf($["${ACCOUNT_NUM}"="1002"]?acc1002)
 same => n,GotoIf($["${ACCOUNT_NUM}"="1003"]?acc1003)
 same => n,Playback(custom/invalid-option)
 same => n,Goto(menu)
 same => n(acc1001),Playback(custom/redirect-support)
 same => n,Goto(internal,1001,1)
 same => n(acc1002),Playback(custom/redirect-compta)
 same => n,Goto(internal,1002,1)
 same => n(acc1003),Playback(custom/redirect-commercial)
 same => n,Goto(internal,1003,1)
